img {
    display: block;
    max-width: 64px;
    max-height: 64px;
    width: auto;
    height: auto;
}

.Image-div {
    width: 64px;
    height: 64px;
}

.Sticker-Div {
    touch-action: manipulation;
}

.Sticker-Div button.Emoji-Picker-Toggle {
    display: inline-block;
    width: auto;
    margin: 0 0 0 4px;
    padding: 2px 6px;
    font-size: 14px;
}